<p class="copyright">
  Uptane is managed the <a href="https://ieee-isto.org/member_programs/uptane-alliance/">Uptane Alliance</a>, an 
  <a href="https://ieee-isto.org/">IEEE/ISTO Federation</a>.
  For questions about the documentation or implementation, please contact <a
  href="https://ssl.engineering.nyu.edu/personalpages/jcappos/">Prof. Justin
  Cappos</a> and other members of the <a
  href="https://ssl.engineering.nyu.edu/">Secure Systems Lab</a> at <a
  href="https://engineering.nyu.edu">New York University</a>.  Contributors and
  maintainers are governed by the <a
  href="https://github.com/cncf/foundation/blob/master/code-of-conduct.md">CNCF
  Community Code of Conduct</a>.
</p>

<p class="acknowledgements">
  Uptane is supported by U.S. Department of Homeland Security grants
  D15PC00239 and D15PC00302. The views and conclusions contained herein 
  are the authors’ and should not be interpreted as necessarily representing the 
  official policies or endorsements, either expressed or implied, of the U.S. 
  Department of Homeland Security (DHS) or the U.S. government.
</p>
