<p class="copyright">
  This project is managed by <a
  href="https://ssl.engineering.nyu.edu/personalpages/jcappos/">Prof. Justin
  Cappos</a> and other members of the <a
  href="https://ssl.engineering.nyu.edu/">Secure Systems Lab</a> at <a
  href="https://engineering.nyu.edu">New York University</a>.
</p>

<p class="acknowledgements">
  This material is based upon work supported by the National Science Foundation
  under Grant Nos. CNS-1345049 and CNS-0959138. Any opinions, findings, and
  conclusions or recommendations expressed in this material are those of the
  author(s) and do not necessarily reflect the views of the National Science
  Foundation.
</p>
