
// Background colors
$green: #295862;
$green-dark: #1e1b26;
$blue: #86ccd6;

$content-max-width: 800px;


// Override slate styles
a:hover, a:focus {
  text-decoration: underline;
  font-weight: normal;
}
table, td, img  {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background: $green;
}
.inner {
  max-width: $content-max-width;
}

// Header styles
#header_wrap {
  background: $green;
  background: -moz-linear-gradient(top, $green-dark, $green, $green);
  background: -webkit-linear-gradient(top, $green-dark, $green, $green);
  background: -ms-linear-gradient(top, $green-dark, $green, $green);
  background: -o-linear-gradient(top, $green-dark, $green, $green);
  background: linear-gradient(top, $green-dark, $green, $green);
  .inner {
    padding: 20px 10px 0px 10px;
    a:hover, a:focus {
      text-decoration: none;
    }
    #project_title {
      span, img {
        vertical-align: middle;
      }
      img {
        margin-right: 20px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

// Navbar container style
#navbar_wrap {
  .inner {
    padding-top: 0;
    @media only screen and (min-width: 768px){
      padding-bottom: 0;
    }
  }
}

// Main content styles
#main_content_wrap {
  background: #f9faf4;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;

  .content {
    padding: 20px 20px;
  }
}

#footer_wrap {
  background: $green;
  font-size: 0.8em;
}


/* Special styles for different pages */

#landing {
  // Responsive video trick
  // https://alistapart.com/article/creating-intrinsic-ratios-for-video
  .video_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .info-tagline-container {
    margin: 80px 0;
    // FIXME: A grid (e.g. flexbox) would be nicer than tables
    .info-tagline {
      margin: 50px 0;
      & > div, & > img {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
      }
      a {
        border: 2px solid $blue;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}

// Special styles for tables
// Fixed width first column
// FIXME: A grid (e.g. flexbox) would be nicer than tables
#contact,
#integrations,
#metadata-examples,
#news,
#specs {
  td {
    padding: 10px 0;
    &:nth-child(1) {
      width: 120px;
      font-weight: bold;
    }
  }
}

#integrations {
  // On the integration page we vertically align middle
  // and give the image a fixed width
  table {
    td {
      vertical-align: middle;
    }
    img {
      width: 80px;
    }
  }
}
