.what_is_uptane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section_padding {
    padding: 6rem 6rem;
}

.what_is_uptane_heading {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.what_is_uptane_heading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: var(--ifm-color-primary);
}

.what_is_uptane_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what_is_uptane_content p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    padding-right: 35px;
}

.what_is_uptane_video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what_is_uptane_video iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    padding: 15px;
}

@media screen and (max-width: 1050px) {
    .what_is_uptane {
        flex-direction: column;
    }

    .what_is_uptane_heading {
        margin-bottom: 1rem;
    }

    .what_is_uptane_content {
        margin: 0 0 1rem;
    }

    .what_is_uptane_content p {
        padding-right: 0px;
    }

    .what_is_uptane_video iframe {
        min-height: 300px;
    }

}

@media screen and (max-width: 650px) {
    .what_is_uptane_heading h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .section_padding {
        padding: 2rem;
    }

    .what_is_uptane_video iframe {
        min-height: 250px;
    }
}

@media screen and (max-width: 490px) {
    .what_is_uptane_heading h1 {
        font-size: 35px;
        line-height: 48px;
    }

    .what_is_uptane_content p {
        font-size: 20px;
    }

    .what_is_uptane_video iframe {
        min-height: 200px;
    }
}